@import "/styles/variables.module.scss";

.warrantySec {
  @apply w-full h-screen max-h-[500px] sm:h-[120vh] sm:max-h-[850px]  2xl:max-h-[900px] bg-black flex justify-center items-center sm:pt-32;
}

.unlimitedText {
  font-family: Eurostile;
  /* font-size: 48px; */
  font-weight: 700;
  /* line-height: 40px; */
  letter-spacing: 0.1em;
  text-align: center;
  @apply text-[#fff] uppercase text-[28px] leading-[28px] xl:leading-[66px] xl:text-[65px] md:leading-[61px] md:text-[60px];
}

.warrantyText {
  font-family: Disket-mono;
  /* font-size: 24px; */
  font-weight: 400;
  /* line-height: 40px; */
  letter-spacing: 0.1em;
  text-align: center;
  @apply text-[12px] leading-[24px] sm:text-[24px] sm:leading-[32px] text-[#fff];
}
