@import "/styles/variables.module.scss";

.charger {
    font-family: Eurostile;
    width: 100%;
  
    background-color: rgb(0, 0, 0);
    @apply flex flex-col justify-center items-center  h-[100vh]  xl:h-[130vh] md:h-[125vh]  xl:max-h-[900px] md:max-h-[1500px] 2xl:max-h-[100vh]  xl:pt-[6rem] md:mt-32 xl:mt-0 sm:pb-[4rem] 2xl:pt-[1rem]  2xl:pb-[4rem];
  }

  .Head {
    font-family: Eurostile;
    font-weight: 400;
    text-align: center;
  
    @apply text-[#fff] text-[18px] sm:text-[28px] sm:leading-[36px];
  }

  .titleDesc {
    color: #b4bcc4;
    font-family: Disket-mono;
    font-style: normal;
    font-weight: 400;
    @apply flex text-[12px] sm:text-[14px]  h-fit  sm:leading-[20px]  w-full xl:w-[80%] justify-start  md:mt-5;
  }

  .titleDescTurkey{
    color: #b4bcc4;
    font-family: Brutal;
    font-style: normal;
    font-weight: 400;
    @apply flex text-[12px] sm:text-[14px]  h-fit  justify-center  md:mt-5 xl:hidden;
 
  }
  .chargerType {
    text-align: center;
    font-family: Eurostile;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @apply text-[16px] sm:text-[32px];
  }

  .spec {
    color: #fff;
    font-family: Disket-mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @apply text-[14px] sm:text-[50px];
  }
  
  .desc {
    color: #fff;
    font-family: Disket-mono;
    // font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @apply text-[12px] 2xl:text-[18px];
  }

  .specMob {
    color: #fff;
    font-family: Eurostile;
    font-style: normal;
    font-weight: 400;
    line-height: 16.768px;
    @apply text-[12px] sm:text-[14px];
  }
  
  .descMob {
    color: #868686;
    font-family: Disket-mono;
    // font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.768px;
    text-transform: uppercase;
    @apply text-[8px] sm:text-[10px];
  }
  .fasterMob {
    color: #ff0422;
    font-family: Eurostile;
    // font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @apply text-[10px] sm:text-[14px];
  }
  .threeX {
    line-height: normal;
    color: #ff0422;
    text-align: center;
    font-family: Eurostile;
    line-height: normal;
    @apply text-[26px] leading-[26px] sm:text-[40px]  font-[500]  sm:leading-[42px];
  }