.configureBack {
  @apply cursor-pointer flex;
  // z-index: 10000;
}
.forcedButton {
  position: fixed !important;
  bottom: 0px !important;
  width: 50% !important;
}
.relativeButton {
  position: fixed !important;
  bottom: 0px !important;
  width: 100% !important;
}

.finance .header {
  margin-top: 26px;
}

.finance .subheader {
  margin-top: 14px;
  margin-bottom: 30px;
}

// .financeScroll {
//   height: 100vh;
//   overflow: auto;
// }
// // For Sm and below
// @media screen and (max-width: 768px) {
//   .financeScroll {
//     height: 100%;
//   }
// }
