@import "../../styles/variables.module.scss";

.disketmono {
  font-family: Disket-mono;
}
.heading {
  font-family: brutal;
  font-weight: 500;
  float: left;
  @apply text-[28px] mt-[11px] sm:text-[32px] sm:mb-[14px] sm:mt-[48px];
}

.brutal {
  font-family: Brutal;
}
.color-dark-grey {
  color: #565656;
}
.subtext {
  font-family: brutal;
  font-weight: 400;
  color: #636363;
  letter-spacing: 0.2px;
  line-height: 28px;
  @apply w-full text-[12px] mt-[8px]  sm:text-[14px] sm:mt-[13px];
}
.email {
  font-family: brutal;
  font-weight: 400;
  color: #9f9f9f;
  @apply mt-9 text-[14px] sm:text-[14px] sm:mt-[32px];
}
.age {
  font-family: brutal;
  font-weight: 400;
  color: #9f9f9f;
  @apply mt-9 text-[14px] sm:text-[14] sm:mt-[32px];
}
.input {
  background: #eaeaea;
  font-family: brutal;
  font-weight: 400;
  letter-spacing: 0.2px;
  @apply text-[12px] ml-[12px] sm:ml-[24px]  w-full;
}
.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.selecttag {
  background: #eaeaea;
  font-family: brutal;
  font-weight: 400;
  color: #9f9f9f;
  letter-spacing: 0.2px;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: window;
  border: none !important;
  background-image: url("../../public/images/deliverydetails/drop-arrow.png");
  background-repeat: no-repeat;
  background-position: 90% 90%;
  @apply text-[12px] pl-[12px] sm:pl-[24px] w-full sm:w-full;
}
.selecttagBlack {
  background: #eaeaea;
  font-family: brutal;
  font-weight: 400;
  letter-spacing: 0.2px;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: window;
  border: none !important;
  background-image: url("../../public/images/deliverydetails/drop-arrow.png");
  background-repeat: no-repeat;
  background-position: 90% 90%;
  @apply text-sm pl-[12px] sm:pl-[24px] w-full sm:w-full;
}

.mobile {
  color: #9f9f9f;
  @apply text-sm ml-[12px] sm:ml-[24px];
}
.color-green {
  color: #7dc771;
  font-size: 14px;
}
.color-red {
  color: red;
  font-size: 14px;
}
.selecttag option {
  text-overflow: ellipsis !important;
  background: #eaeaea;
  border: none !important;
  outline: none !important;
  width: 150px !important;
}
.inputbox {
  background: #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  @apply h-[50px] w-full mt-[8px] sm:mt-[14px];
}
.inputboxError {
  background: #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid #d44c43;
  @apply h-[50px] w-full mt-[8px] sm:mt-[14px];
}
.proceedError {
  cursor: pointer;
  background: #000000;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  @apply w-full py-4 flex flex-row pl-7 pr-8 sm:pl-16 sm:pr-[103px] sm:py-[28px];
}
.procced {
  background: #d8d8d8;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  align-items: center;
  color: #676767;
  cursor: not-allowed;
  @apply w-full py-4 flex flex-row pl-7 pr-8 sm:pl-16 sm:pr-[103px] sm:py-[28px];
}
.proccedText {
  font-family: brutal;
  font-weight: 500;
  letter-spacing: 0.2px;
  @apply text-sm sm:text-xl;
}
.arrowImage{
  position: relative !important;
  width: 5% !important;
  height: 5% !important;
  object-fit:cover !important;
}
@media only screen and (min-width: 576px) {
  .procced {
    width: 50%;
  }
  .proceedError{
    width: 50%;
  }
}
