@import "/styles/variables.module.scss";
.eurostile{
    font-family: Eurostile;
}
.backgroundImage{
    background: url("../../public/images/BackgroundPages.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-grey;
    // opacity: 0.32;
}
.brutal{
    font-family: Brutal;
}
.font-color{
    color: #414141;
}
.letterSpacing{
    letter-spacing: 0.2px;
}