@import "/styles/variables.module.scss";

.landing {
  height: calc(100vh - 2em);
  @apply relative;
}

.headWrapper {
  @apply absolute top-16 left-6 md:left-0  md:items-center xl:items-start sm:top-20 xl:left-32 z-50 flex flex-col  items-start;
}
.activateF {
  font-family: Disket-mono;
  font-weight: 400;
  color: #ffffff;
  @apply text-[14px] sm:text-[24px] 2xl:text-[28px] sm:leading-[32px] 2xl:leading-[54px] md:text-center xl:text-left;
}
.limited {
  font-family: Eurostile;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  @apply text-[72px] mt-[-10px]  sm:text-[85px]  sm:mt-[-15px];
}

.version2 {
  font-family: Eurostile;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  @apply text-[24px]  absolute top-4 right-[-40px] sm:top-5 sm:right-[-45px];
}

.timeTravel {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Disket-mono;
  font-weight: 400;
  letter-spacing: 0em;
  @apply text-[14px]  sm:text-[24px] w-full   mt-[-10px]   sm:mt-[-25px];
}

.startingPrice {
  color: #ffffff;

  .starting {
    font-family: Disket-mono;
    font-weight: 400;
    letter-spacing: 0em;
    @apply text-[10px] sm:text-[14px] ml-[8%] sm:ml-0 sm:leading-8;
  }
  .rate {
    font-family: Disket-mono;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    @apply text-[24px]   leading-6 ml-[8%] sm:ml-0 xl:text-[32px] sm:leading-8;
  }

  @apply absolute w-1/2 bottom-24  sm:bottom-14 sm:left-32 z-50 hidden xl:visible md:hidden  xl:flex flex-col justify-center items-start;
}

.startingPriceMob {
  color: #ffffff;

  .starting {
    font-family: Disket-mono;
    font-weight: 800;
    letter-spacing: 0em;
    @apply text-[10px] xl:text-[14px]  xl:ml-0 xl:leading-8;
  }
  .rate {
    font-family: Disket-mono;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    @apply text-[24px] md:text-[38px] md:mt-1 md:mb-2 max-sm:mt-0 max-sm:mb-0  leading-6  xl:ml-0 xl:text-[36px] xl:leading-8;
  }

  @apply absolute w-full xl:hidden bottom-16 md:bottom-[4%] left-0  xl:bottom-10 xl:left-32 z-50  flex flex-col justify-center items-center gap-4 xl:gap-0;
}

.button {
  font-family: Disket-mono;
  cursor: pointer;
  @apply hidden sm:flex text-[24px] text-white  justify-center items-center shadow-md;
}

.buttonMobile {
  font-family: Disket-mono;
  cursor: pointer;
  @apply sm:hidden w-full flex justify-center items-center shadow-md;
}

.startingDisc {
  color: rgba(255, 255, 255, 0.63);
  font-family: Disket-mono;
  text-transform: uppercase;
  @apply text-[10px] sm:text-[10px] ml-[8%] sm:ml-0 sm:leading-8;
}
