.color-yellow{
    color: #ECA234;
}
.color-orange {
    color: #F26322;
}
.color-red{
    color: #DA4F46;
}
.color-dark-grey{
    color: #5E5E5E;
}
.color-grey{
    color: #E2E2E2;
}
.brutal{
    font-family:Brutal;
}